@import '../../styles/color';

.winBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $aquamarine-color;
  z-index: 1;
  transition: .3s ease;
  transform: scale(0);

  &__show {
    transform: scale(1);
  }

  &__text {
    font-size: 6rem;
    font-weight: 700;
    color: $light-red-color;
    margin-bottom: 45px;
    -webkit-text-stroke: 1px $light-yellow;
    -webkit-text-fill-color: $light-red-color;
  }

  &__button {
    display: flex;
    width: 400px;
    height: 70px;
    margin: 15px 0;
    background-color: $light-yellow;
    border: 3px solid $light-red-color;
    border-radius: 15px;
    color: $light-red-color;
    font-size: 3rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 1px rgba(19, 19, 19, 0.2);
    transition: 0.2s ease;
    text-decoration: none;

    &:hover {
      background-color: $light-red-color;
      border: 3px solid $light-yellow;
      border-radius: 15px;
      color: $light-yellow;
    }
  }

  &__score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;

    &__img {
      transform: rotate(45deg);
      margin-right: 15px;
      max-height: 100px;
    }

    &__number {
      font-size: 5.5rem;
      font-weight: 700;
      color: $light-red-color;
    }
  }
}
