@import "../../../styles/color";

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: $light-yellow;
  border-radius: 50%;
  border: 3px solid $light-red-color;
  user-select: none;
  outline: none;
  -webkit-touch-callout: none;
  margin: 0 20px;

  &__icon {
    width: 50px;
    height: 50px;
  }

  &:hover {
    cursor: pointer;
  }
}