.field-box {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 45px auto;

  &__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
